<app-menu [formCadastro]="formCadastro" [navi]="navi"></app-menu>
<form>
<mat-card>
    <mat-card-title>Cadastro de Dica</mat-card-title>
 
    <span class="errorMessage" *ngIf="errorMessage != null" >{{errorMessage}}</span>
    <span class="successMessage" *ngIf="successMessage != null">{{successMessage}}</span>

    <mat-card-content>

        <mat-form-field class="full-width">
            <input matInput [(ngModel)]="tip.Descricao" name="Descricao" placeholder="*Dica" 
            value="{{tip.Descricao}}">
        </mat-form-field>
        <br>
        <p>*Imagem de dica:   
            <input type="file" (change)="onFileChange($event)" #fileInput accept="image/*">
            <br>
            <img [src]="getImageBase64(tip.TipoImagem,tip.Imagem)" *ngIf="tip.Imagem">
        </p>
    </mat-card-content>   
    <mat-card-actions> 
        <button mat-raised-button (click)="clearLocalObject()">Limpar</button>
        <button mat-raised-button color="primary" (click)="saveObject()">Salvar</button>
    </mat-card-actions>
</mat-card>
</form>