<app-menu [formCadastro]="formCadastro" [navi]="navi"></app-menu>

<mat-card>
    <mat-card-title>Consulta de Dica</mat-card-title>
    
    <span class="errorMessage" *ngIf="errorMessage != null" >{{errorMessage}}</span>
    <span class="successMessage" *ngIf="successMessage != null">{{successMessage}}</span>

    <mat-card-content>
        <div *ngFor="let tip of tips">
        <mat-card>
            <mat-card-content>
                <p>
                Dica: {{tip.Descricao}}
                <br>
                <br>
                Imagem de dica:
                <br>
                <img [src]="getImageBase64(tip.TipoImagem,tip.Imagem)">
                </p>
            </mat-card-content>   
            <mat-card-actions> 
                <button mat-raised-button (click)="editar(tip)">Editar</button>
                <button mat-raised-button (click)="excluir(tip)">Excluir</button>
            </mat-card-actions>
        </mat-card>
        </div>
    </mat-card-content> 
</mat-card>
