mat-card {
    margin-top: 2%;
    margin-left: 2%;  
    margin-right: 2%;
    }
    
    .full-width {
    width: 100%;
    }
    
    img {
        margin-bottom: 2%;
        max-width: 50%;
        max-height: 50%;
    }