<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      GEOCIRC
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button (click)="goHome()" ion-button full>Login com Google</button>
</ion-content>