<mat-toolbar class="menu" color="primary">
    <label><a routerLink="/inicio">GEOCIRC</a></label>
    <label class="nav">{{navi}}</label>
    <!--<div class="novoButton">
     {{userId}}
      <button (click)="sair()" mat-button>
          <span>Sair</span>
      </button>
    </div>-->
   <!-- <mat-toolbar-row> -->
      <button mat-button [matMenuTriggerFor]="menuCadastrar">Cadastrar</button>
      <mat-menu #menuCadastrar="matMenu">
        <button (click)="openTipForm()" mat-menu-item>Dica</button>
        <button (click)="openQuestionForm()" mat-menu-item>Pergunta</button>
        <button (click)="openGameForm()" mat-menu-item>Jogo</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menuConsultar">Consultar</button>
      <mat-menu #menuConsultar="matMenu">
        <button (click)="openTipFind()" mat-menu-item>Dica</button>
        <button (click)="openQuestionFind()" mat-menu-item>Pergunta</button>
        <button (click)="openGameFind()" mat-menu-item>Jogo</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menuJogo">Jogo</button>
      <mat-menu #menuJogo="matMenu">
        <button (click)="openMatchForm()" mat-menu-item>Jogar</button>
        <button (click)="openMatchFind()" mat-menu-item>Consultar Partida</button>
      </mat-menu>
    <!--</mat-toolbar-row> -->
  </mat-toolbar>

