.novoButton {
    position: absolute;
    right: 0;
}

.nav {
    padding: 2%;
    padding-top: 2.5%;
}


.userName {
    padding: 2%;
    padding-top: 2.5%;
    position: absolute;
    right: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.menu{
    box-shadow: 0px 1px 10px rgba(0,0,0,0.8);
}