<app-menu [formCadastro]="formCadastro" [navi]="navi"></app-menu>

<form>
  <mat-card>
      <mat-card-title>Consulta de Jogo</mat-card-title>

      <span class="errorMessage" *ngIf="errorMessage != null" >{{errorMessage}}</span>
      <span class="successMessage" *ngIf="successMessage != null">{{successMessage}}</span>

      <mat-card-content>  
          <div *ngFor="let game of games">
            <mat-card>
                <mat-card-content>
                  <p>
                    Nome do Jogo: {{game.Descricao}}
                  </p>
                </mat-card-content>   
                <mat-card-actions> 
                    <button mat-raised-button (click)="editar(game)">Editar</button>
                    <button mat-raised-button (click)="excluir(game)">Excluir</button>
                </mat-card-actions>
            </mat-card>
          </div>

      </mat-card-content>    
  </mat-card>
</form>