<app-menu [formCadastro]="formCadastro" [navi]="navi"></app-menu>

<form>
  <mat-card>
      <mat-card-title>Consulta de Partida</mat-card-title>

      <span class="errorMessage" *ngIf="errorMessage != null" >{{errorMessage}}</span>
      <span class="successMessage" *ngIf="successMessage != null">{{successMessage}}</span>

      <mat-card-content>  
          <div *ngFor="let match of matchs">
            <mat-card>
                <mat-card-content>
                  <p>
                    Partida: {{match.Descricao}}
                  </p>
                  <p>
                    Jogo: {{match.Jogo.Descricao}}
                  </p>
                  <p>
                    Data de inicio: {{match.DataHoraInicio}}
                  </p>
                  <p *ngIf="match.DataHoraFim != ''">
                    Data de fim: {{match.DataHoraFim}}
                  </p>
                  <p>
                    <button mat-raised-button (click)="consultar(match)">Relatório</button>
                  </p>
                  <p *ngIf="match.DataHoraFim == ''">
                    <button mat-raised-button (click)="finalizar(match)">Finalizar</button>
                  </p>

                </mat-card-content>   
                
            </mat-card>
            <br>
          </div>

      </mat-card-content>    
  </mat-card>
</form>