<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      GEOCIRC
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button (click)="openLerQR()" ion-button full>Ler QR Code</button>
  <button (click)="exit()" ion-button full>Sair</button>
</ion-content>
