.demo-nio{
    /*width:1520px;*/
    /*height:700px;*/
    transform: rotate(90deg);
    background-color: gray;
    min-height: 95vh;
    max-height: 95vh;
    min-width: 100%;
    max-width: 100%;
}