<app-menu [formCadastro]="formCadastro" [navi]="navi"></app-menu>

<div class="rankingTable">
<mat-table  #table [dataSource]="matchRancking">
<!-- Position Column -->
<ng-container matColumnDef="position">
<mat-header-cell *matHeaderCellDef> # </mat-header-cell>
<mat-cell *matCellDef="let element"> {{ranking.indexOf(element) + 1}} </mat-cell>
</ng-container>

<!-- Name Column -->
<ng-container matColumnDef="name">
<mat-header-cell *matHeaderCellDef class="ranckingName"> Nome </mat-header-cell>
<mat-cell *matCellDef="let element" class="ranckingName"> {{element.Nome}} </mat-cell>
</ng-container>

<!-- Right Column -->
<ng-container matColumnDef="rightQuestions">
<mat-header-cell *matHeaderCellDef> Acertos </mat-header-cell>
<mat-cell *matCellDef="let element"> {{element.Corretas}} </mat-cell>
</ng-container>

<!-- Right Column -->
<ng-container matColumnDef="wrongQuestions">
<mat-header-cell *matHeaderCellDef> Erros </mat-header-cell>
<mat-cell *matCellDef="let element"> {{element.Erradas}} </mat-cell>
</ng-container>

<!-- Tip Column -->
<ng-container matColumnDef="tipQuestions">
<mat-header-cell *matHeaderCellDef> Dicas </mat-header-cell>
<mat-cell *matCellDef="let element"> {{element.Dicas}} </mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
</div>
