<app-menu [formCadastro]="formCadastro" [navi]="navi"></app-menu>

<mat-card *ngIf="game.Id == 0">
    <mat-card-title>Cadastro de Jogo</mat-card-title>
    
    <span class="errorMessage" *ngIf="errorMessage != null" >{{errorMessage}}</span>
    <span class="successMessage" *ngIf="successMessage != null">{{successMessage}}</span>

    <mat-card-content>

        <mat-form-field class="full-width">
            <input [(ngModel)]="game.Descricao" name="pergunta" matInput placeholder="*Nome do Jogo" value={{game.Descricao}}>
        </mat-form-field>
    
    </mat-card-content>   
    <mat-card-actions>
        <button mat-raised-button (click)="limpar()">Limpar</button>
        <button mat-raised-button color="primary" (click)="cadastra()">Salvar</button>
    </mat-card-actions>
</mat-card>

<mat-card *ngIf="game.Id != 0">
    <mat-card-title>Associar Pergunta à Jogo</mat-card-title>

    <span class="errorMessage" *ngIf="errorMessage != null" >{{errorMessage}}</span>
    <span class="successMessage" *ngIf="successMessage != null">{{successMessage}}</span>
    
    <mat-card-content>
        
        <mat-form-field class="full-width">
            <mat-select placeholder="*Pergunta" [(ngModel)]="newQuestion">
              <mat-option *ngFor="let question of questions" [value]="question.Id" >
                {{ question.Descricao }}
              </mat-option>
            </mat-select>
        </mat-form-field> 
        <br>
        <button mat-raised-button color="primary" (click)="add()">Adicionar</button>
        
        <div *ngFor="let question of game.Perguntas">
            <mat-card>
                <mat-card-content>
                  <p>
                    Posição: {{game.Perguntas.indexOf(question) + 1}}
                    <br>
                    Questão: {{question.Descricao}}
                    <br>
                  </p>
                </mat-card-content>   
                <mat-card-actions> 
                    <button mat-raised-button (click)="editar(question)">Editar</button>
                    <button mat-raised-button (click)="excluir(question)">Excluir</button>
                </mat-card-actions>
            </mat-card>
          </div>

    </mat-card-content>   
</mat-card>