<div class="root" #root >
  
  <div class="island-init"  [style.transform]="island1.getRotateText()"  
    [style.margin-top.px]="island1.islandMarginTop"
    [style.margin-left.px]="island1.islandMarginLeft"
    [style.height.px]="island1.islandHeight"
    [style.width.px]="island1.islandWidth"
    [style.opacity]="island1.getShowState()"
    [style.z-index]="island1.getShowIState()">
    <div class="logInClass"
              [style.height.px]="island1.logInHeight"
              [style.width.px]="island1.logInWidth"
              [style.margin-top.px]="island1.logInMTop"
              [style.margin-left.px]="island1.logInMLeft">
        <p class="iHomeMessageText">{{island1.homeMessage}}</p>
        <p class="iInstructionMessageText">{{island1.instructionMessage}}</p>
    </div>  
    <div class="lQr" [style.height.px]="island1.qQrHeight"
                  [style.width.px]="island1.qQrWidth"
                  [style.margin-top.px]="island1.qQrMTop"
                  [style.margin-left.px]="island1.qQrMLeft">
    <qr-code [value]="island1.lQr" [size]="island1.qQrSize"></qr-code>
    </div>  
    <div class="rankingTable"
                          [style.height.px]="island1.ranckingTableHeight"
                          [style.width.px]="island1.ranckingTableWidth"
                          [style.margin-top.px]="island1.ranckingTableMTop"
                          [style.margin-left.px]="island1.ranckingTableMLeft">
    <mat-table  #table [dataSource]="island1.matchRancking">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{island1.ranking.indexOf(element) + 1}} </mat-cell>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef class="ranckingName"> Nome </mat-header-cell>
          <mat-cell *matCellDef="let element" class="ranckingName"> {{element.Nome}} </mat-cell>
        </ng-container>
    
        <!-- Right Column -->
        <ng-container matColumnDef="rightQuestions">
          <mat-header-cell *matHeaderCellDef> Acertos </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Corretas}} </mat-cell>
        </ng-container>
        
        <!-- Right Column -->
        <ng-container matColumnDef="wrongQuestions">
          <mat-header-cell *matHeaderCellDef> Erros </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Erradas}} </mat-cell>
        </ng-container>

        <!-- Tip Column -->
        <ng-container matColumnDef="tipQuestions">
          <mat-header-cell *matHeaderCellDef> Dicas </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Dicas}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="island1.displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: island1.displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <!--<button mat-raised-button (click)="island1.jogar()">Jogar</button>-->
  </div>

  <div class="island"  [style.transform]="island1.getRotateText()"  
                              [style.margin-top.px]="island1.islandMarginTop"
                              [style.margin-left.px]="island1.islandMarginLeft"
                              [style.height.px]="island1.islandHeight"
                              [style.width.px]="island1.islandWidth"
                              [style.opacity]="island1.getHiddenState()"
                              [style.z-index]="island1.getHiddenIState()">

    <div class="qNumber" [style.height.px]="island1.qNumberHeight"
                          [style.width.px]="island1.qNumberWidth"
                          [style.margin-top.px]="island1.qNumberMTop"
                          [style.margin-left.px]="island1.qNumberMLeft">
      <p class="qNumberText"> {{island1.qNumberValue}}</p>
    </div>

    <div class="qText"  [style.height.px]="island1.qTextHeight"
                        [style.width.px]="island1.qTextWidth"
                        [style.margin-top.px]="island1.qTextMTop"
                        [style.margin-left.px]="island1.qTextMLeft">
      <p class = "qTextText"> {{island1.qTextValue}}</p>
    </div>

    <div class="qQr"  [style.height.px]="island1.qQrHeight"
                      [style.width.px]="island1.qQrWidth"
                      [style.margin-top.px]="island1.qQrMTop"
                      [style.margin-left.px]="island1.qQrMLeft">
          <qr-code [value]="island1.qQr" [size]="island1.qQrSize"></qr-code>
    </div>

    <img #image1NE class="qImg"  [style.max-height.px]="island1.imageLayout1.qHeight"
                      [style.max-width.px]="island1.imageLayout1.qWidth"
                      [style.margin-top.px]="island1.imageLayout1.qMTopMov"
                      [style.margin-left.px]="island1.imageLayout1.qMLeftMov"
                      [src]="getImageBase64(island1.imageLayout1.imageType, island1.imageLayout1.image)"
                      [style.z-index]="island1.imageLayout1.zIndex"
                      (panstart)="island1.imageLayout1.onPanStart($event)" 
                      (panmove)="island1.imageLayout1.onPan($event)" 
                      (panend)="island1.imageLayout1.onPanEnd($event, 1)"
                      (load)="island1.imageLayout1.adjustImageLayout()"
                      (ngModelChange)="island1.imageLayout1.adjustImageLayout()"/>

    <img #image2NE class="qImg"  [style.max-height.px]="island1.imageLayout2.qHeight"
                      [style.max-width.px]="island1.imageLayout2.qWidth"
                      [style.margin-top.px]="island1.imageLayout2.qMTopMov"
                      [style.margin-left.px]="island1.imageLayout2.qMLeftMov"
                      [src]="getImageBase64(island1.imageLayout2.imageType, island1.imageLayout2.image)"
                      [style.z-index]="island1.imageLayout2.zIndex"
                      (panstart)="island1.imageLayout2.onPanStart($event)" 
                      (panmove)="island1.imageLayout2.onPan($event)" 
                      (panend)="island1.imageLayout2.onPanEnd($event, 2)"
                      (load)="island1.imageLayout2.adjustImageLayout()"
                      (ngModelChange)="island1.imageLayout2.adjustImageLayout()"/>

    <img #image3NE class="qImg"  [style.max-height.px]="island1.imageLayout3.qHeight"
                      [style.max-width.px]="island1.imageLayout3.qWidth"
                      [style.margin-top.px]="island1.imageLayout3.qMTopMov"
                      [style.margin-left.px]="island1.imageLayout3.qMLeftMov"
                      [src]="getImageBase64(island1.imageLayout3.imageType, island1.imageLayout3.image)"
                      [style.z-index]="island1.imageLayout3.zIndex"
                      (panstart)="island1.imageLayout3.onPanStart($event)" 
                      (panmove)="island1.imageLayout3.onPan($event)" 
                      (panend)="island1.imageLayout3.onPanEnd($event, 3)"
                      (load)="island1.imageLayout3.adjustImageLayout()"
                      (ngModelChange)="island1.imageLayout3.adjustImageLayout()"/>

    
    <img #image4NE class="qImg"  [style.max-height.px]="island1.imageLayout4.qHeight"
                      [style.max-width.px]="island1.imageLayout4.qWidth"
                      [style.margin-top.px]="island1.imageLayout4.qMTopMov"
                      [style.margin-left.px]="island1.imageLayout4.qMLeftMov"
                      [src]="getImageBase64(island1.imageLayout4.imageType, island1.imageLayout4.image)"
                      [style.z-index]="island1.imageLayout4.zIndex"
                      (panstart)="island1.imageLayout4.onPanStart($event)" 
                      (panmove)="island1.imageLayout4.onPan($event)" 
                      (panend)="island1.imageLayout4.onPanEnd($event, 4)"
                      (load)="island1.imageLayout4.adjustImageLayout()"
                      (ngModelChange)="island1.imageLayout4.adjustImageLayout()"/>

    <div #response class="qRes"  [style.height.px]="island1.qResHeight"
                      [style.width.px]="island1.qResWidth"
                      [style.margin-top.px]="island1.qResMTop"
                      [style.margin-left.px]="island1.qResMLeft">
      <p class = "qResText">{{island1.qResText}}</p>
    </div>
    
    <img #image5NE class="qImg"  [style.max-height.px]="island1.imageLayout5.qHeight"
                      [style.max-width.px]="island1.imageLayout5.qWidth"
                      [style.margin-top.px]="island1.imageLayout5.qMTopMov"
                      [style.margin-left.px]="island1.imageLayout5.qMLeftMov"
                      [src]="getImageBase64(island1.imageLayout5.imageType, island1.imageLayout5.image)"
                      [style.z-index]="island1.imageLayout5.zIndex"
                      (panstart)="island1.imageLayout5.onPanStart($event)" 
                      (panmove)="island1.imageLayout5.onPan($event)" 
                      (panend)="island1.imageLayout5.onPanEnd($event, 5)"
                      (load)="island1.imageLayout5.adjustImageLayout()"
                      (ngModelChange)="island1.imageLayout5.adjustImageLayout()"/>

  </div>

  <div class="island-init"  [style.transform]="island2.getRotateText()"  
  [style.margin-top.px]="island2.islandMarginTop"
  [style.margin-left.px]="island2.islandMarginLeft"
  [style.height.px]="island2.islandHeight"
  [style.width.px]="island2.islandWidth"
  [style.opacity]="island2.getShowState()"
  [style.z-index]="island2.getShowIState()">
  <div class="logInClass"
            [style.height.px]="island2.logInHeight"
            [style.width.px]="island2.logInWidth"
            [style.margin-top.px]="island2.logInMTop"
            [style.margin-left.px]="island2.logInMLeft">
      <p class="iHomeMessageText">{{island2.homeMessage}}</p>
      <p class="iInstructionMessageText">{{island2.instructionMessage}}</p>
  </div>  
  <div class="lQr" [style.height.px]="island2.qQrHeight"
                [style.width.px]="island2.qQrWidth"
                [style.margin-top.px]="island2.qQrMTop"
                [style.margin-left.px]="island2.qQrMLeft">
  <qr-code [value]="island2.lQr" [size]="island2.qQrSize"></qr-code>
  </div>  
  <div class="rankingTable"
                        [style.height.px]="island2.ranckingTableHeight"
                        [style.width.px]="island2.ranckingTableWidth"
                        [style.margin-top.px]="island2.ranckingTableMTop"
                        [style.margin-left.px]="island2.ranckingTableMLeft">
  <mat-table  #table [dataSource]="island2.matchRancking">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{island2.ranking.indexOf(element) + 1}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef class="ranckingName"> Nome </mat-header-cell>
        <mat-cell *matCellDef="let element" class="ranckingName"> {{element.Nome}} </mat-cell>
      </ng-container>
  
      <!-- Score Column -->
      <ng-container matColumnDef="score">
        <mat-header-cell *matHeaderCellDef> Pontos </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Pontos}} </mat-cell>
      </ng-container>
  
      <!-- Right Column -->
      <ng-container matColumnDef="rightQuestions">
        <mat-header-cell *matHeaderCellDef> Acertos </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Corretas}} </mat-cell>
      </ng-container>
      
      <!-- Right Column -->
      <ng-container matColumnDef="wrongQuestions">
        <mat-header-cell *matHeaderCellDef> Erros </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Erradas}} </mat-cell>
      </ng-container>

      <!-- Tip Column -->
      <ng-container matColumnDef="tipQuestions">
        <mat-header-cell *matHeaderCellDef> Dicas </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Dicas}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="island2.displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: island2.displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <!--<button mat-raised-button (click)="island2.jogar()">Jogar</button>-->
</div>

<div class="island"  [style.transform]="island2.getRotateText()"  
                            [style.margin-top.px]="island2.islandMarginTop"
                            [style.margin-left.px]="island2.islandMarginLeft"
                            [style.height.px]="island2.islandHeight"
                            [style.width.px]="island2.islandWidth"
                            [style.opacity]="island2.getHiddenState()"
                            [style.z-index]="island2.getHiddenIState()">

  <div class="qNumber" [style.height.px]="island2.qNumberHeight"
                        [style.width.px]="island2.qNumberWidth"
                        [style.margin-top.px]="island2.qNumberMTop"
                        [style.margin-left.px]="island2.qNumberMLeft">
    <p class="qNumberText"> {{island2.qNumberValue}} </p>
  </div>

  <div class="qText"  [style.height.px]="island2.qTextHeight"
                      [style.width.px]="island2.qTextWidth"
                      [style.margin-top.px]="island2.qTextMTop"
                      [style.margin-left.px]="island2.qTextMLeft">
    <p class="qTextText"> {{island2.qTextValue}}</p>
  </div>

  <div class="qQr"  [style.height.px]="island2.qQrHeight"
                    [style.width.px]="island2.qQrWidth"
                    [style.margin-top.px]="island2.qQrMTop"
                    [style.margin-left.px]="island2.qQrMLeft">
    <qr-code [value]="island2.qQr" [size]="island2.qQrSize"></qr-code>
  </div>

  <img #image1NE90 class="qImg"  [style.max-height.px]="island2.imageLayout1.qHeight"
                    [style.max-width.px]="island2.imageLayout1.qWidth"
                    [style.margin-top.px]="island2.imageLayout1.qMTopMov"
                    [style.margin-left.px]="island2.imageLayout1.qMLeftMov"
                    [src]="getImageBase64(island2.imageLayout1.imageType, island2.imageLayout1.image)"
                    [style.z-index]="island2.imageLayout1.zIndex"
                    (panstart)="island2.imageLayout1.onPanStart90($event)" 
                    (panmove)="island2.imageLayout1.onPan90($event)" 
                    (panend)="island2.imageLayout1.onPanEnd90($event, 1)"
                    (load)="island2.imageLayout1.adjustImageLayout()"
                    (ngModelChange)="island2.imageLayout1.adjustImageLayout()"/>

  <img #image2NE90 class="qImg"  [style.max-height.px]="island2.imageLayout2.qHeight"
                    [style.max-width.px]="island2.imageLayout2.qWidth"
                    [style.margin-top.px]="island2.imageLayout2.qMTopMov"
                    [style.margin-left.px]="island2.imageLayout2.qMLeftMov"
                    [src]="getImageBase64(island2.imageLayout2.imageType, island2.imageLayout2.image)"
                    [style.z-index]="island2.imageLayout2.zIndex"
                    (panstart)="island2.imageLayout2.onPanStart90($event)" 
                    (panmove)="island2.imageLayout2.onPan90($event)" 
                    (panend)="island2.imageLayout2.onPanEnd90($event, 2)"
                    (load)="island2.imageLayout2.adjustImageLayout()"
                    (ngModelChange)="island2.imageLayout2.adjustImageLayout()"/>

  <img #image3NE90 class="qImg"  [style.max-height.px]="island2.imageLayout3.qHeight"
                    [style.max-width.px]="island2.imageLayout3.qWidth"
                    [style.margin-top.px]="island2.imageLayout3.qMTopMov"
                    [style.margin-left.px]="island2.imageLayout3.qMLeftMov"
                    [src]="getImageBase64(island2.imageLayout3.imageType, island2.imageLayout3.image)"
                    [style.z-index]="island2.imageLayout3.zIndex"
                    (panstart)="island2.imageLayout3.onPanStart90($event)" 
                    (panmove)="island2.imageLayout3.onPan90($event)" 
                    (panend)="island2.imageLayout3.onPanEnd90($event, 3)"
                    (load)="island2.imageLayout3.adjustImageLayout()"
                    (ngModelChange)="island2.imageLayout3.adjustImageLayout()"/>

  
  <img #image4NE90 class="qImg"  [style.max-height.px]="island2.imageLayout4.qHeight"
                    [style.max-width.px]="island2.imageLayout4.qWidth"
                    [style.margin-top.px]="island2.imageLayout4.qMTopMov"
                    [style.margin-left.px]="island2.imageLayout4.qMLeftMov"
                    [src]="getImageBase64(island2.imageLayout4.imageType, island2.imageLayout4.image)"
                    [style.z-index]="island2.imageLayout4.zIndex"
                    (panstart)="island2.imageLayout4.onPanStart90($event)" 
                    (panmove)="island2.imageLayout4.onPan90($event)" 
                    (panend)="island2.imageLayout4.onPanEnd90($event, 4)"
                    (load)="island2.imageLayout4.adjustImageLayout()"
                    (ngModelChange)="island2.imageLayout4.adjustImageLayout()"/>

  <div #response class="qRes"  [style.height.px]="island2.qResHeight"
                    [style.width.px]="island2.qResWidth"
                    [style.margin-top.px]="island2.qResMTop"
                    [style.margin-left.px]="island2.qResMLeft">
    <p class = "qResText">{{island2.qResText}}</p>
  </div>
  
  <img #image5NE90 class="qImg"  [style.max-height.px]="island2.imageLayout5.qHeight"
                    [style.max-width.px]="island2.imageLayout5.qWidth"
                    [style.margin-top.px]="island2.imageLayout5.qMTopMov"
                    [style.margin-left.px]="island2.imageLayout5.qMLeftMov"
                    [src]="getImageBase64(island2.imageLayout5.imageType, island2.imageLayout5.image)"
                    [style.z-index]="island2.imageLayout5.zIndex"
                    (panstart)="island2.imageLayout5.onPanStart90($event)" 
                    (panmove)="island2.imageLayout5.onPan90($event)" 
                    (panend)="island2.imageLayout5.onPanEnd90($event, 5)"
                    (load)="island2.imageLayout5.adjustImageLayout()"
                    (ngModelChange)="island2.imageLayout5.adjustImageLayout()"/>

</div>

<div class="island-init"  [style.transform]="island3.getRotateText()"  
[style.margin-top.px]="island3.islandMarginTop"
[style.margin-left.px]="island3.islandMarginLeft"
[style.height.px]="island3.islandHeight"
[style.width.px]="island3.islandWidth"
[style.opacity]="island3.getShowState()"
[style.z-index]="island3.getShowIState()">
<div class="logInClass"
          [style.height.px]="island3.logInHeight"
          [style.width.px]="island3.logInWidth"
          [style.margin-top.px]="island3.logInMTop"
          [style.margin-left.px]="island3.logInMLeft">
    <p class="iHomeMessageText">{{island3.homeMessage}}</p>
    <p class="iInstructionMessageText">{{island3.instructionMessage}}</p>
</div>  
<div class="lQr" [style.height.px]="island3.qQrHeight"
              [style.width.px]="island3.qQrWidth"
              [style.margin-top.px]="island3.qQrMTop"
              [style.margin-left.px]="island3.qQrMLeft">
<qr-code [value]="island3.lQr" [size]="island3.qQrSize"></qr-code>
</div>  
<div class="rankingTable"
                      [style.height.px]="island3.ranckingTableHeight"
                      [style.width.px]="island3.ranckingTableWidth"
                      [style.margin-top.px]="island3.ranckingTableMTop"
                      [style.margin-left.px]="island3.ranckingTableMLeft">
<mat-table  #table [dataSource]="island3.matchRancking">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{island3.ranking.indexOf(element) + 1}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="ranckingName"> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element" class="ranckingName"> {{element.Nome}} </mat-cell>
    </ng-container>

    <!-- Score Column -->
    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef> Pontos </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Pontos}} </mat-cell>
    </ng-container>

    <!-- Right Column -->
    <ng-container matColumnDef="rightQuestions">
      <mat-header-cell *matHeaderCellDef> Acertos </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Corretas}} </mat-cell>
    </ng-container>
    
    <!-- Right Column -->
    <ng-container matColumnDef="wrongQuestions">
      <mat-header-cell *matHeaderCellDef> Erros </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Erradas}} </mat-cell>
    </ng-container>

    <!-- Tip Column -->
    <ng-container matColumnDef="tipQuestions">
      <mat-header-cell *matHeaderCellDef> Dicas </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Dicas}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="island3.displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: island3.displayedColumns;"></mat-row>
  </mat-table>
</div>
<!--<button mat-raised-button (click)="island3.jogar()">Jogar</button>-->
</div>

<div class="island"  [style.transform]="island3.getRotateText()"  
                          [style.margin-top.px]="island3.islandMarginTop"
                          [style.margin-left.px]="island3.islandMarginLeft"
                          [style.height.px]="island3.islandHeight"
                          [style.width.px]="island3.islandWidth"
                          [style.opacity]="island3.getHiddenState()"
                          [style.z-index]="island3.getHiddenIState()">

<div class="qNumber" [style.height.px]="island3.qNumberHeight"
                      [style.width.px]="island3.qNumberWidth"
                      [style.margin-top.px]="island3.qNumberMTop"
                      [style.margin-left.px]="island3.qNumberMLeft">
  <p class="qNumberText"> {{island3.qNumberValue}}</p>
</div>

<div class="qText"  [style.height.px]="island3.qTextHeight"
                    [style.width.px]="island3.qTextWidth"
                    [style.margin-top.px]="island3.qTextMTop"
                    [style.margin-left.px]="island3.qTextMLeft">
  <p class="qTextText"> {{island3.qTextValue}}</p>
</div>

<div class="qQr"  [style.height.px]="island3.qQrHeight"
                  [style.width.px]="island3.qQrWidth"
                  [style.margin-top.px]="island3.qQrMTop"
                  [style.margin-left.px]="island3.qQrMLeft">
    <qr-code [value]="island3.qQr" [size]="island3.qQrSize"></qr-code>
</div>

<img #image1NE180 class="qImg"  [style.max-height.px]="island3.imageLayout1.qHeight"
                  [style.max-width.px]="island3.imageLayout1.qWidth"
                  [style.margin-top.px]="island3.imageLayout1.qMTopMov"
                  [style.margin-left.px]="island3.imageLayout1.qMLeftMov"
                  [src]="getImageBase64(island3.imageLayout1.imageType, island3.imageLayout1.image)"
                  [style.z-index]="island3.imageLayout1.zIndex"
                  (panstart)="island3.imageLayout1.onPanStart180($event)" 
                  (panmove)="island3.imageLayout1.onPan180($event)" 
                  (panend)="island3.imageLayout1.onPanEnd180($event, 1)"
                  (load)="island3.imageLayout1.adjustImageLayout()"
                  (ngModelChange)="island3.imageLayout1.adjustImageLayout()"/>

<img #image2NE180 class="qImg"  [style.max-height.px]="island3.imageLayout2.qHeight"
                  [style.max-width.px]="island3.imageLayout2.qWidth"
                  [style.margin-top.px]="island3.imageLayout2.qMTopMov"
                  [style.margin-left.px]="island3.imageLayout2.qMLeftMov"
                  [src]="getImageBase64(island3.imageLayout2.imageType, island3.imageLayout2.image)"
                  [style.z-index]="island3.imageLayout2.zIndex"
                  (panstart)="island3.imageLayout2.onPanStart180($event)" 
                  (panmove)="island3.imageLayout2.onPan180($event)" 
                  (panend)="island3.imageLayout2.onPanEnd180($event, 2)"
                  (load)="island3.imageLayout2.adjustImageLayout()"
                  (ngModelChange)="island3.imageLayout2.adjustImageLayout()"/>

<img #image3NE180 class="qImg"  [style.max-height.px]="island3.imageLayout3.qHeight"
                  [style.max-width.px]="island3.imageLayout3.qWidth"
                  [style.margin-top.px]="island3.imageLayout3.qMTopMov"
                  [style.margin-left.px]="island3.imageLayout3.qMLeftMov"
                  [src]="getImageBase64(island3.imageLayout3.imageType, island3.imageLayout3.image)"
                  [style.z-index]="island3.imageLayout3.zIndex"
                  (panstart)="island3.imageLayout3.onPanStart180($event)" 
                  (panmove)="island3.imageLayout3.onPan180($event)" 
                  (panend)="island3.imageLayout3.onPanEnd180($event, 3)"
                  (load)="island3.imageLayout3.adjustImageLayout()"
                  (ngModelChange)="island3.imageLayout3.adjustImageLayout()"/>


<img #image4NE180 class="qImg"  [style.max-height.px]="island3.imageLayout4.qHeight"
                  [style.max-width.px]="island3.imageLayout4.qWidth"
                  [style.margin-top.px]="island3.imageLayout4.qMTopMov"
                  [style.margin-left.px]="island3.imageLayout4.qMLeftMov"
                  [src]="getImageBase64(island3.imageLayout4.imageType, island3.imageLayout4.image)"
                  [style.z-index]="island3.imageLayout4.zIndex"
                  (panstart)="island3.imageLayout4.onPanStart180($event)" 
                  (panmove)="island3.imageLayout4.onPan180($event)" 
                  (panend)="island3.imageLayout4.onPanEnd180($event, 4)"
                  (load)="island3.imageLayout4.adjustImageLayout()"
                  (ngModelChange)="island3.imageLayout4.adjustImageLayout()"/>

<div #response class="qRes"  [style.height.px]="island3.qResHeight"
                  [style.width.px]="island3.qResWidth"
                  [style.margin-top.px]="island3.qResMTop"
                  [style.margin-left.px]="island3.qResMLeft">
  <p class = "qResText">{{island3.qResText}}</p>
</div>

<img #image5NE180 class="qImg"  [style.max-height.px]="island3.imageLayout5.qHeight"
                  [style.max-width.px]="island3.imageLayout5.qWidth"
                  [style.margin-top.px]="island3.imageLayout5.qMTopMov"
                  [style.margin-left.px]="island3.imageLayout5.qMLeftMov"
                  [src]="getImageBase64(island3.imageLayout5.imageType, island3.imageLayout5.image)"
                  [style.z-index]="island3.imageLayout5.zIndex"
                  (panstart)="island3.imageLayout5.onPanStart180($event)" 
                  (panmove)="island3.imageLayout5.onPan180($event)" 
                  (panend)="island3.imageLayout5.onPanEnd180($event, 5)"
                  (load)="island3.imageLayout5.adjustImageLayout()"
                  (ngModelChange)="island3.imageLayout5.adjustImageLayout()"/>

</div>

<div class="island-init"  [style.transform]="island4.getRotateText()"  
[style.margin-top.px]="island4.islandMarginTop"
[style.margin-left.px]="island4.islandMarginLeft"
[style.height.px]="island4.islandHeight"
[style.width.px]="island4.islandWidth"
[style.opacity]="island4.getShowState()"
[style.z-index]="island4.getShowIState()">
<div class="logInClass"
          [style.height.px]="island4.logInHeight"
          [style.width.px]="island4.logInWidth"
          [style.margin-top.px]="island4.logInMTop"
          [style.margin-left.px]="island4.logInMLeft">
    <p class="iHomeMessageText">{{island4.homeMessage}}</p>
    <p class="iInstructionMessageText">{{island4.instructionMessage}}</p>
</div>  
<div class="lQr" [style.height.px]="island4.qQrHeight"
              [style.width.px]="island4.qQrWidth"
              [style.margin-top.px]="island4.qQrMTop"
              [style.margin-left.px]="island4.qQrMLeft">
<qr-code [value]="island4.lQr" [size]="island4.qQrSize"></qr-code>
</div>  
<div class="rankingTable"
                      [style.height.px]="island4.ranckingTableHeight"
                      [style.width.px]="island4.ranckingTableWidth"
                      [style.margin-top.px]="island4.ranckingTableMTop"
                      [style.margin-left.px]="island4.ranckingTableMLeft">
<mat-table  #table [dataSource]="island4.matchRancking">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{island4.ranking.indexOf(element) + 1}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="ranckingName"> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element" class="ranckingName"> {{element.Nome}} </mat-cell>
    </ng-container>

    <!-- Score Column -->
    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef> Pontos </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Pontos}} </mat-cell>
    </ng-container>

    <!-- Right Column -->
    <ng-container matColumnDef="rightQuestions">
      <mat-header-cell *matHeaderCellDef> Acertos </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Corretas}} </mat-cell>
    </ng-container>
    
    <!-- Right Column -->
    <ng-container matColumnDef="wrongQuestions">
      <mat-header-cell *matHeaderCellDef> Erros </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Erradas}} </mat-cell>
    </ng-container>

    <!-- Tip Column -->
    <ng-container matColumnDef="tipQuestions">
      <mat-header-cell *matHeaderCellDef> Dicas </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Dicas}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="island4.displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: island4.displayedColumns;"></mat-row>
  </mat-table>
</div>
<!--<button mat-raised-button (click)="island4.jogar()">Jogar</button>-->
</div>

<div class="island"  [style.transform]="island4.getRotateText()"  
                          [style.margin-top.px]="island4.islandMarginTop"
                          [style.margin-left.px]="island4.islandMarginLeft"
                          [style.height.px]="island4.islandHeight"
                          [style.width.px]="island4.islandWidth"
                          [style.opacity]="island4.getHiddenState()"
                          [style.z-index]="island4.getHiddenIState()">

<div class="qNumber" [style.height.px]="island4.qNumberHeight"
                      [style.width.px]="island4.qNumberWidth"
                      [style.margin-top.px]="island4.qNumberMTop"
                      [style.margin-left.px]="island4.qNumberMLeft">
  <p class="qNumberText"> {{island4.qNumberValue}}</p>
</div>

<div class="qText"  [style.height.px]="island4.qTextHeight"
                    [style.width.px]="island4.qTextWidth"
                    [style.margin-top.px]="island4.qTextMTop"
                    [style.margin-left.px]="island4.qTextMLeft">
  <p class="qTextText"> {{island4.qTextValue}} </p>
</div>

<div class="qQr"  [style.height.px]="island4.qQrHeight"
                  [style.width.px]="island4.qQrWidth"
                  [style.margin-top.px]="island4.qQrMTop"
                  [style.margin-left.px]="island4.qQrMLeft">
    <qr-code [value]="island4.qQr" [size]="island4.qQrSize"></qr-code>
</div>

<img #image1NE270 class="qImg"  [style.max-height.px]="island4.imageLayout1.qHeight"
                  [style.max-width.px]="island4.imageLayout1.qWidth"
                  [style.margin-top.px]="island4.imageLayout1.qMTopMov"
                  [style.margin-left.px]="island4.imageLayout1.qMLeftMov"
                  [src]="getImageBase64(island4.imageLayout1.imageType, island4.imageLayout1.image)"
                  [style.z-index]="island4.imageLayout1.zIndex"
                  (panstart)="island4.imageLayout1.onPanStart270($event)" 
                  (panmove)="island4.imageLayout1.onPan270($event)" 
                  (panend)="island4.imageLayout1.onPanEnd270($event, 1)"
                  (load)="island4.imageLayout1.adjustImageLayout()"
                  (ngModelChange)="island4.imageLayout1.adjustImageLayout()"/>

<img #image2NE270 class="qImg"  [style.max-height.px]="island4.imageLayout2.qHeight"
                  [style.max-width.px]="island4.imageLayout2.qWidth"
                  [style.margin-top.px]="island4.imageLayout2.qMTopMov"
                  [style.margin-left.px]="island4.imageLayout2.qMLeftMov"
                  [src]="getImageBase64(island4.imageLayout2.imageType, island4.imageLayout2.image)"
                  [style.z-index]="island4.imageLayout2.zIndex"
                  (panstart)="island4.imageLayout2.onPanStart270($event)" 
                  (panmove)="island4.imageLayout2.onPan270($event)" 
                  (panend)="island4.imageLayout2.onPanEnd270($event, 2)"
                  (load)="island4.imageLayout2.adjustImageLayout()"
                  (ngModelChange)="island4.imageLayout2.adjustImageLayout()"/>

<img #image3NE270 class="qImg"  [style.max-height.px]="island4.imageLayout3.qHeight"
                  [style.max-width.px]="island4.imageLayout3.qWidth"
                  [style.margin-top.px]="island4.imageLayout3.qMTopMov"
                  [style.margin-left.px]="island4.imageLayout3.qMLeftMov"
                  [src]="getImageBase64(island4.imageLayout3.imageType, island4.imageLayout3.image)"
                  [style.z-index]="island4.imageLayout3.zIndex"
                  (panstart)="island4.imageLayout3.onPanStart270($event)" 
                  (panmove)="island4.imageLayout3.onPan270($event)" 
                  (panend)="island4.imageLayout3.onPanEnd270($event, 3)"
                  (load)="island4.imageLayout3.adjustImageLayout()"
                  (ngModelChange)="island4.imageLayout3.adjustImageLayout()"/>


<img #image4NE270 class="qImg"  [style.max-height.px]="island4.imageLayout4.qHeight"
                  [style.max-width.px]="island4.imageLayout4.qWidth"
                  [style.margin-top.px]="island4.imageLayout4.qMTopMov"
                  [style.margin-left.px]="island4.imageLayout4.qMLeftMov"
                  [src]="getImageBase64(island4.imageLayout4.imageType, island4.imageLayout4.image)"
                  [style.z-index]="island4.imageLayout4.zIndex"
                  (panstart)="island4.imageLayout4.onPanStart270($event)" 
                  (panmove)="island4.imageLayout4.onPan270($event)" 
                  (panend)="island4.imageLayout4.onPanEnd270($event, 4)"
                  (load)="island4.imageLayout4.adjustImageLayout()"
                  (ngModelChange)="island4.imageLayout4.adjustImageLayout()"/>

<div #response class="qRes"  [style.height.px]="island4.qResHeight"
                  [style.width.px]="island4.qResWidth"
                  [style.margin-top.px]="island4.qResMTop"
                  [style.margin-left.px]="island4.qResMLeft">
  <p class = "qResText">{{island4.qResText}}</p>
</div>

<img #image5NE270 class="qImg"  [style.max-height.px]="island4.imageLayout5.qHeight"
                  [style.max-width.px]="island4.imageLayout5.qWidth"
                  [style.margin-top.px]="island4.imageLayout5.qMTopMov"
                  [style.margin-left.px]="island4.imageLayout5.qMLeftMov"
                  [src]="getImageBase64(island4.imageLayout5.imageType, island4.imageLayout5.image)"
                  [style.z-index]="island4.imageLayout5.zIndex"
                  (panstart)="island4.imageLayout5.onPanStart270($event)" 
                  (panmove)="island4.imageLayout5.onPan270($event)" 
                  (panend)="island4.imageLayout5.onPanEnd270($event, 5)"
                  (load)="island4.imageLayout5.adjustImageLayout()"
                  (ngModelChange)="island4.imageLayout5.adjustImageLayout()"/>

  </div>

</div>
