.root{
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    
}

.island{
    background-color: rgb(255,255,255);
    position: fixed; 
    box-shadow: 0px 1px 5px rgba(0,0,0,0.8);
    border-radius: 1%;
}

.island-init{
    background-color: #3f51b5;
    position: fixed;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.8);
    border-radius: 1%;
}

.logInClass{
    position: fixed;
}

.iHomeMessageText{ 
    color: #fff;   
    font-size: 108%;
    position: center;
    text-align: center;
}

.iInstructionMessageText{ 
    color: #fff;   
    font-size: 83%;
    position: center;
    text-align: center;
}

.qNumber {
    background-color: #3f51b5;
    position: fixed;
    border-top-left-radius: 5%;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.8);
}

.qNumberText{
    color: #fff;   
    font-size: 170%;
    position: center;
    text-align: center;
    margin-top: 2vh; 
}

.qText {
    background-color: #3f51b5;
    position: fixed;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.8);
}

.qTextText{
    color: #fff;   
    font-size: 93%;
    position: center;
    text-align: center;
    margin-top: 2vh;
}

.qQr {
    background-color: #3f51b5;
    color: #fff;
    position: fixed;
    text-align: center;
    border-top-right-radius: 5%;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.8);
}

.lQr {
    text-align: center;
    position: fixed;
}


.qImg {
    background-color: #3f51b5;
    color: #fff;
    position: fixed;
    border: black;
    z-index:1;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.8);
}

.qRes {
    position: fixed;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.8);
    background-color: #3f51b5;
}

.qResText{
    color: #fff;
    position: center;
    text-align: center;
    z-index: 1000;
}

.mat-table{
    overflow: auto;
    max-height: 100%;
    width:100%;
}

.ranckingTable{
    position: fixed;
}

.mat-cell,
.mat-header-cell{
    flex: 0 0 15%
}

.ranckingName{
    flex: 0 0 40%
}


