/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.errorMessage{
    color: red;
}

.successMessage{
    color: green;
}