<app-menu [formCadastro]="formCadastro" [navi]="navi"></app-menu>

<mat-card>
    <mat-card-title>Consulta de Pergunta</mat-card-title>

    <span class="errorMessage" *ngIf="errorMessage != null" >{{errorMessage}}</span>
    <span class="successMessage" *ngIf="successMessage != null">{{successMessage}}</span>
    
    <mat-card-content>

    <div *ngFor="let question of questions">
      <mat-card>
          <mat-card-content>
            <p>
              Questão: {{question.Descricao}}
              <br>
              <br>
              Imagem de resposta:
              <br>
              <img [src]="getImageBase64(question.TipoImagemCerta,question.ImagemCerta)">
              <img [src]="getImageBase64(question.TipoImagem1,question.Imagem1)">
              <img [src]="getImageBase64(question.TipoImagem2,question.Imagem2)">
              <img [src]="getImageBase64(question.TipoImagem3,question.Imagem3)">
              <img [src]="getImageBase64(question.TipoImagem4,question.Imagem4)">
              <br>
            </p>
          </mat-card-content>   
          <mat-card-actions> 
              <button mat-raised-button (click)="editar(question)">Editar</button>
              <button mat-raised-button (click)="excluir(question)">Excluir</button>
          </mat-card-actions>
      </mat-card>
    </div>

</mat-card-content> 
</mat-card>

