<app-menu [formCadastro]="formCadastro" [navi]="navi"></app-menu>

<mat-card>
    <mat-card-title>Cadastro de Pergunta</mat-card-title>
   
    <span class="errorMessage" *ngIf="errorMessage != null" >{{errorMessage}}</span>
    <span class="successMessage" *ngIf="successMessage != null">{{successMessage}}</span>

    <mat-card-content>
        <mat-form-field class="full-width">
            <input [(ngModel)]="question.Descricao" name="pergunta" matInput placeholder="*Pergunta" value={{question.Descricao}}>
        </mat-form-field>
        
        <br>

        <p>*Resposta Correta:   
            <input type="file" (change)="onFileChangeRR($event)" accept="image/*">
            <br>
            <img [src]="getImageBase64(question.TipoImagemCerta, question.ImagemCerta)" *ngIf="question.ImagemCerta">
        </p>

        <br>

        <p>*Resposta Errada 1:   
            <input type="file" (change)="onFileChangeRW1($event)" accept="image/*">
            <br>
            <img [src]="getImageBase64(question.TipoImagem1, question.Imagem1)" *ngIf="question.TipoImagem1">
        </p>

        <br>
        
        <p>*Resposta Errada 2:   
            <input type="file" (change)="onFileChangeRW2($event)" accept="image/*">
            <br>
            <img [src]="getImageBase64(question.TipoImagem2, question.Imagem2)" *ngIf="question.TipoImagem2">
        </p>

        <br>
        
        <p>*Resposta Errada 3:   
            <input type="file" (change)="onFileChangeRW3($event)" accept="image/*">
            <br>
            <img [src]="getImageBase64(question.TipoImagem3, question.Imagem3)" *ngIf="question.TipoImagem3">
        </p>

        <br>

        <p>*Resposta Errada 4:   
            <input type="file" (change)="onFileChangeRW4($event)" accept="image/*">
            <br>
            <img [src]="getImageBase64(question.TipoImagem4, question.Imagem4)" *ngIf="question.TipoImagem4">
        </p>
        
        <br>

        <mat-form-field class="full-width">
            <mat-select placeholder="*Dica" [(ngModel)]="question.IdDica">
              <mat-option *ngFor="let tip of tips" [value]="tip.Id">
                {{ tip.Descricao }}
              </mat-option>
            </mat-select>
        </mat-form-field>
    
    </mat-card-content>   
    <mat-card-actions>
        <button mat-raised-button (click)="limpar()">Limpar</button>
        <button mat-raised-button color="primary" (click)="cadastra()">Salvar</button>
    </mat-card-actions>
</mat-card>
