<app-menu [formCadastro]="formCadastro" [navi]="navi"></app-menu>

<mat-card>
    <mat-card-title>Cadastro de Partida</mat-card-title>
    
    <span class="errorMessage" *ngIf="errorMessage != null" >{{errorMessage}}</span>
    <span class="successMessage" *ngIf="successMessage != null">{{successMessage}}</span>

    <mat-card-content>

        <mat-form-field class="full-width">
            <input [(ngModel)]="match.Descricao" name="partida" matInput placeholder="*Nome da Partida" value={{match.Descricao}}>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
          <mat-select placeholder="*Jogo" [(ngModel)]="match.Jogo.Id">
            <mat-option *ngFor="let game of games" [value]="game.Id">
              {{ game.Descricao }}
            </mat-option>
          </mat-select>
      </mat-form-field>

    </mat-card-content>   
    <mat-card-actions>
        <button mat-raised-button (click)="limpar()">Limpar</button>
        <button mat-raised-button color="primary" (click)="cadastra()">Salvar</button>
    </mat-card-actions>
</mat-card>